* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#website {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#5f00cc, #470099);
}

#header-logo-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}

#beta-button {
  width: 80px;
  height: 30px;
  color: white;
  text-align: center;
  background-color: #a177d9;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
}

#cambridge-shield {
  display: none;
}

#hero-section {
  background-image: url(./Assets/voila-welcome-background-mobile.163345ae.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

main {
  margin-top: -50px;
}

#welcome-text {
  color: white;
  text-align: left;
  margin-top: 30px;
  font-size: 1.25rem;
  font-family: Muli, sans-serif;
  /* padding-bottom: 20px; */
}
#description-text div {
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 10px;
}
#description-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
#hero-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#practicenow-btn button {
  width: 300px;
  height: 40px;
  background-color: #ece1fd;
  color: #5f00cc;
  padding: 10px;
  font-size: medium;
  border-radius: 25px;
  font-family: Muli, sans-serif;
  border: none;
  /* align-self: center; */
}

#practicenow-btn {
  align-self: center;
}

#image-playback {
  position: relative;
  align-self: center;
}

#students-img {
  position: relative;
  height: 240px;
  margin: 40px 20px 40px 20px;
}

#playback-button {
  position: absolute;
  top: 45%;
  left: 40%;
  background: none;
  border: none;
}
#playback-button img {
  width: 50px;
}

.desccription-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.desccription-items img {
  /* align-self: center; */
  width: 250px;
}
.desccription-text-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article p {
  font-size: medium;
}
article h3 {
  font-family: Muli, sans-serif;
}

.footer-container {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#5f00cc, #470099);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: Muli, sans-serif;
}
.footer-container h2 {
  font-weight: 50;
}

@media (min-width: 576px) {
  #practicenow-btn {
    align-self: flex-start;
  }

  #header-logo-btn {
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
  }

  #welcome-text {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  #header-logo-btn {
    padding-left: 30px;
  }

  #cambridge-shield {
    display: block;
    margin-top: 80px;
    width: 88px;
  }

  #hero-section {
    background-image: url(./Assets/voila-welcome-background.0694b42f.svg);
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  #welcome-text {
    margin-top: 0px;
    font-size: 1.5rem;
  }
  #description-text div {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  #description-text {
    line-height: 2rem;
  }

  #practicenow-btn button {
    width: 350px;
    height: 60px;
    font-size: large;
  }
  #students-img {
    height: 500px;
  }

  .desccription-items img {
    width: 350px;
  }

  #desktop-img {
    width: 650px;
    padding-right: 0;
  }
  .footer-container h2 {
    font-weight: 50;
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  #hero-section {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  #hero-content {
    margin-bottom: 100px;
  }

  #students-img {
    height: 100%;
  }

  #welcome-text {
    font-size: 1.7rem;
  }
  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desccription-items {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #change-order {
    order: 2;
  }

  .desccription-text-txt {
    text-align: left;
    line-height: 1.3rem;
    gap: 20px;
  }

  article p {
    font-size: larger;
  }
  article h3 {
    font-size: 1.5rem;
    font-family: Muli, sans-serif;
  }

  .desccription-items img {
    width: 500px;
    padding-right: 45px;
  }
  .footer-container {
    height: 300px;
  }
}

@media (min-width: 1400px) {
  #hero-section {
    padding-left: 50px;
  }
  #cambridge-shield {
    margin-top: 30px;
  }
}
