* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#welcome-page-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#5f00cc, #470099);
}

#welcome-page-container-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: flex-start;
  align-items: start;
  gap: 30px;
}

#welcome-page-container-header-beta-button {
  width: 80px;
  height: 30px;
  color: white;
  font-weight: 600;
  text-align: center;
  background-color: #a177d9;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  position: relative;
}

#welcome-page-container-header-beta-button:hover {
  cursor: pointer;
}

#welcome-page-container-header-beta-button-tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px;
  font-weight: 100;
  line-height: 20px;
  border-radius: 6px;
  position: absolute;
  top: 35px;
  left: 80px;
  z-index: 1;
}

#welcome-page-container-main-content-container-inner-div-items-cambridge-shield {
  display: none;
}

#welcome-page-container-main-content-container {
  background-image: url(./Assets/voila-welcome-background-mobile.163345ae.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

main {
  margin-top: -50px;
}

#welcome-text {
  color: white;
  text-align: left;
  margin-top: 30px;
  font-size: 1.25rem;
  font-family: Muli, sans-serif;
  /* padding-bottom: 20px; */
}
#welcome-page-container-section-2-items-text div {
  color: white;
  font-size: large;
  display: flex;
  align-items: center;
  gap: 10px;
}
#welcome-page-container-section-2-items-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
#welcome-page-container-main-content-container-inner-div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#practicenow-btn button {
  width: 300px;
  height: 40px;
  background-color: #ece1fd;
  font-weight: 550;
  color: #821ff3;
  padding: 10px;
  font-size: medium;
  border-radius: 25px;
  font-family: Muli, sans-serif;
  border: none;
  /* align-self: center; */
}

#practicenow-btn :hover {
  background-color: #a177d9;
  font-weight: 550;
  color: #ece1fd;
  cursor: pointer;
}

#practicenow-btn :focus-visible {
  background-color: #a177d9;
  font-weight: 550;
  color: #ece1fd;
}

#practicenow-btn {
  align-self: center;
}

#image-playback {
  position: relative;
  align-self: center;
}

#students-img {
  position: relative;
  height: 240px;
  margin: 40px 20px 40px 20px;
}

#playback-button {
  position: absolute;
  top: 45%;
  left: 40%;
  background: none;
  border: none;
}
#playback-button img {
  width: 50px;
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    width: 90%;
    height: 30%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
}
.modal-close {
  align-self: flex-end;
}
.modal-close img {
  height: 100%;
  width: 70%;
  margin-right: 0;
  padding-right: 0;
}

.welcome-page-container-section-2-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.welcome-page-container-section-2-items img {
  /* align-self: center; */
  width: 250px;
}
.welcome-page-container-section-2-items-text-inner-txt {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.welcome-page-container-section-2 p {
  font-size: medium;
}
.welcome-page-container-section-2 h3 {
  font-family: Muli, sans-serif;
}

.footer-container {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(#5f00cc, #470099);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: Muli, sans-serif;
}
.footer-container h2 {
  font-weight: 50;
}

@media (min-width: 576px) {
  #practicenow-btn {
    align-self: flex-start;
  }

  #welcome-page-container-header {
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    row-gap: 10px;
  }

  #welcome-text {
    margin-top: 80px;
  }
  .modal-window div {
    height: 40%;
  }
}

@media (min-width: 768px) {
  #welcome-page-container-header {
    padding-left: 30px;
  }
  .modal-window div {
    height: 50%;
  }

  #welcome-page-container-main-content-container-inner-div-items-cambridge-shield {
    display: block;
    margin-top: 80px;
    width: 88px;
  }

  #welcome-page-container-main-content-container {
    background-image: url(./Assets/voila-welcome-background.0694b42f.svg);
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  #welcome-page-container-header-beta-button:hover
    #welcome-page-container-header-beta-button-tooltip-text {
    visibility: visible;
  }

  #welcome-text {
    margin-top: 0px;
    font-size: 1.5rem;
  }

  #welcome-page-container-section-2-items-text div {
    font-size: 1.5rem;
    padding-left: 20px;
  }
  #welcome-page-container-section-2-items-text {
    line-height: 2rem;
  }
  #welcome-page-container-section-2 {
    background-color: white;
  }
  #practicenow-btn button {
    width: 350px;
    height: 60px;
    font-size: large;
  }
  #students-img {
    height: 500px;
  }

  .welcome-page-container-section-2-items img {
    width: 350px;
  }

  #desktop-img {
    width: 650px;
    padding-right: 0;
  }
  .footer-container h2 {
    font-weight: 50;
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  #welcome-page-container-main-content-container {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  #welcome-page-container-main-content-container-inner-div {
    margin-bottom: 100px;
  }

  #students-img {
    height: 100%;
  }

  #welcome-text {
    font-size: 1.7rem;
  }
  .welcome-page-container-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-page-container-section-2-items {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  #change-order {
    order: 2;
  }

  .welcome-page-container-section-2-items-text-inner-txt {
    text-align: left;
    line-height: 1.3rem;
    gap: 20px;
  }

  .welcome-page-container-section-2 p {
    font-size: larger;
  }
  .welcome-page-container-section-2 h3 {
    font-size: 1.5rem;
    font-family: Muli, sans-serif;
  }

  .welcome-page-container-section-2-items img {
    width: 500px;
    padding-right: 45px;
  }
  .footer-container {
    height: 300px;
  }
}

@media (min-width: 1400px) {
  #welcome-page-container-main-content-container {
    padding-left: 50px;
  }
  #welcome-page-container-main-content-container-inner-div-items-cambridge-shield {
    margin-top: 30px;
  }
}
